.coin-container {
    display: flex;
    justify-content: center;
  }

  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 970px;
    background-color: #272c47;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #272c47;
  }

  .coin-row:hover{
    border: 1px solid white;
  }

  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
    background-color: #272c47;
  }

  .coin h1 {
    font-size: 16px;
    width: 150px;
    background-color: #272c47;
  }

  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: #272c47;
  }

  .coin-symbol {
    text-transform: uppercase;
    background-color: #272c47;
  }

  .coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    background-color: #272c47;
  }

  .coin-price {
    width: 110px;
    background-color: #272c47;
  }

  .coin-volume {
    width: 155px;
    background-color: #272c47;
  }

  .coin-marketcap {
    width: 230px;
    background-color: #272c47;
  }

  .coin-percent {
    width: 100px;
    background-color: #272c47;
  }

  .red {
    color: #f00606;
  }

  .green {
    color: #11d811;
  }